VITE_SUPABASE_URL = 'https://qzrdvygqzugsksdahitq.supabase.co'
VITE_SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6cmR2eWdxenVnc2tzZGFoaXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY2NTk0NTksImV4cCI6MjA4MjIzNTQ1OX0.n2f6deoVK3Q8JriU_CwMMeJ6_2JlQz7r1UMiRl4MGhw'